# =========================
# Python
# =========================
__pycache__/
*.pyc
.env
venv/
.venv/

# =========================
# Node / React
# =========================
node_modules/

# =========================
# ChromaDB / Vector DB
# =========================
chroma_db/
*.bin
*.sqlite3

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
