.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  font-family: Arial;
}

form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input {
  margin-bottom: 12px;
  padding: 10px;
  font-size: 14px;
}

button {
  padding: 10px;
  background: #0055ff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
